div#edit_comment_dialog div#editing_comment
{
    margin-top: 10px;
    border-top: dashed 1px #dfdfdf;
    border-bottom: dashed 1px #dfdfdf;
    padding: 10px 0;
}

div#edit_comment_dialog div#editing_comment .dialog_user_id
{
    float: right;
}

div#edit_comment_dialog div.editing_comment_text_parent
{
    float: right;
    margin: 0 10px 0 0;
}

div#edit_comment_dialog textarea#dialog_txt_comment
{
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    max-height: 200px;
    resize: none;
}

div#edit_comment_dialog div.dialog_actions div.loading_small_circle
{
    float: left;
    margin: 5px 0 0 0;
}

div#edit_comment_dialog div#dialog_msg
{
    margin: 10px 0 0 0;
    padding: 5px;
    min-width: 250px;
}