div#share_dialog div.sharing_object
{
    margin-top: 10px;
    border-top: dashed 1px #dfdfdf;
    border-bottom: dashed 1px #dfdfdf;
    padding: 10px 0;
}

div#share_dialog div.dialog_actions div.loading_small_circle
{
    float: left;
    margin: 5px 0 0 0;
}

div#share_dialog div#dialog_msg
{
    margin: 10px 0 0 0;
    padding: 5px;
    min-width: 250px;
}

div#share_dialog .object_sender
{
    float: right;
}

div#share_dialog .shared_object_details
{
    float: right; 
    max-height: 250px; 
    width: 510px; 
    margin: 0 10px 0 0;
    overflow-y: auto;
}

div#share_dialog div.post_photos
{
    margin: 0 0 5px 10px;
    float: right;
}

div#share_dialog div.post_photos img
{
    width: 70px;
}

div#share_dialog div.post_photos a.thumb_parent
{
    float: right;
    margin-left: 5px;
}

div#share_dialog div.post_text
{
    color: #939393;
    font-size: 7.5pt;
    line-height: 17px;
}

div#share_dialog div.sharing_selects
{
    float: right;
    margin: 10px 0 0 0;
}

div#share_dialog div.sharing_selects select
{
    float: right;
    margin: 0 0 0 7px;
}

div#share_dialog div.sharing_selects label
{
    float: right;
    font-size: 7pt;
    margin: 2px 0 0 2px;
}