@using CoreHelpers
@model SocialNetApp.Views.Models.Account.AlternativeEmailActivationViewModel

@{
    ViewBag.Title = "AlternativeEmailActivation";
    Layout = "~/Views/Layouts/_Frame.cshtml";
}

@section head
{
    <title>
        @Resources.Words.AlternativeEmailActivation
        @Strings.TitleSeparator
        @Resources.Titles.StaticPageTitle
    </title>
}

@section title
{
    @Resources.Words.AlternativeEmailActivation
}

@section content
{
    @{Html.RenderPartial(Urls.ModuleViews + "_AltEmailActivation.cshtml", Model.AltEmailActivationModel);}
}
