@using SocialNetApp.Views.Models.Modules
@using CoreHelpers
@model SocialNetApp.Views.Models.Account.RecoverPasswordViewModel
@{
    Layout = "~/Views/Layouts/_Frame.cshtml";
}
@section head{
    <title>
        @Resources.Words.PasswordRecovery
        @Strings.TitleSeparator
        @Resources.Titles.StaticPageTitle
    </title>
}
@section title{
    @Resources.Words.PasswordRecovery
}
@section content{
    @{Html.RenderPartial(Urls.ModuleViews + "_PasswordRecovery.cshtml", Model.PasswordRecoveryModel);}
}
