<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FbAppId" value="873219309376216" />
    <add key="FbAppSec" value="093ea4f77fbe2d2484db8c7f0133c3d4" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Server=(local);Database=SocialNetMembershipDb;User=sa;Password=r@m@n1Tgroup;" providerName="System.Data.SqlClient" />
    <add name="SocialNetDbConnection" connectionString="Server=(local);Database=SocialNetDb;User=sa;Password=r@m@n1Tgroup;" providerName="System.Data.SqlClient" />
    <add name="SocialNetDbEntities" connectionString="metadata=res://*/Models.SocialDbModel.csdl|res://*/Models.SocialDbModel.ssdl|res://*/Models.SocialDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SocialNetDb;user id=sa;password=r@m@n1Tgroup;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="LocalSqlServer" connectionString="Server=95.211.12.35;Database=SocialNetMembershipDb;User=sa;Password=r@m@n1Tgroup;" providerName="System.Data.SqlClient" />
    <add name="SocialNetDbConnection" connectionString="Server=95.211.12.35;Database=SocialNetDb;User=sa;Password=r@m@n1Tgroup;" providerName="System.Data.SqlClient" />
    <add name="SocialNetDbEntities" connectionString="metadata=res://*/Models.SocialDbModel.csdl|res://*/Models.SocialDbModel.ssdl|res://*/Models.SocialDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=95.211.12.35;initial catalog=SocialNetDb;user id=sa;password=r@m@n1Tgroup;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <trace enabled="true" />
    <membership defaultProvider="AspNetdbSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetdbSqlMembershipProvider" connectionStringName="LocalSqlServer" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="43200" />
    </authentication>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Home/PageNotFoundError" />
      <error statusCode="403" redirect="~/Account/Login" />
      <!--<error statusCode="500" redirect="~/Home/InternalServerError" />-->
    </customErrors>
    <httpRuntime executionTimeout="360" maxRequestLength="102400" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVideoProcessorService" />
        <binding name="BasicHttpBinding_IBackgroundTasksService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63892/Services/LongRunningProcesses/VideoProcessorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVideoProcessorService"
        contract="CoreServices.LongRunningProcesses.IVideoProcessorService"
        name="BasicHttpBinding_IVideoProcessorService" />
      <endpoint address="http://localhost:63892/Services/Tasks/BackgroundTasksService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackgroundTasksService"
        contract="CoreServices.Tasks.IBackgroundTasksService" name="BasicHttpBinding_IBackgroundTasksService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>