#pp_sec_friends .pp_sec_friends_in
{
    padding: 4px 4px 4px 3px;
}

#pp_sec_friends .friend_thumb_link
{
    float: right;
    display: block;
    border: 0;
    margin: 0 0 2px 2px;
}

#pp_sec_friends .friend_thumb_img
{
    width: 74px;
    height: 74px;
    border: solid 1px #4a4747;
    float: right;
}

#pp_sec_friends .pp_friends_sec_title_lbl
{
    font-size: 9pt;
    font-weight: normal;
    margin: 0 5px 0 0;
    color: #6a7480;
}