@font-face
{
    font-family: 'Naskh2';
    src: url('Fonts/DroidNaskh-Regular.eot');
    src: url('Fonts/DroidNaskh-Regular.eot?#iefix') format('embedded-opentype'), url('Fonts/DroidNaskh-Regular.woff') format('woff'), url('Fonts/DroidNaskh-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');
}

body
{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    font-size: 8pt;
    direction: rtl;
}

#middle
{
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}

#middle_relative
{
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 60px;
}

a
{
    cursor: pointer;
    color: #0077bd;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}

input[type="submit"]
{
    cursor: pointer;
    background-color: #1570a6;
    padding: 6px 8px 8px 8px;
    color: #ffffff;
    font-weight: normal;
    font-size: 8pt;
    font-family: Tahoma;
    border: 0;
}

input[type="submit"]:active
{
    background-color: #115e8b;
}

input[type="submit"]:disabled
{
    background-color: #dadada;
    cursor: default;
}

a.submit
{
    cursor: pointer;
    background-color: #1570a6;
    padding: 6px 8px 8px 8px;
    color: #ffffff;
    font-weight: normal;
    font-size: 8pt;
    font-family: Tahoma;
    border: 0;
    white-space: nowrap;
}

a.submit:hover
{
    text-decoration: none;
}

a.submit:active
{
    background-color: #115e8b;
}

a.submit:disabled
{
    background-color: #dadada;
    cursor: default;
}

label
{
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="submit"].delete
{
    cursor: pointer;
    background-color: #f7941d;
    padding: 6px 8px 6px 8px;
    color: #ffffff;
    font-weight: normal;
    font-size: 8pt;
    font-family: Tahoma;
    border: 0;
}

input[type="submit"].delete:active
{
    background-color: #d27e19;
}

input[type="submit"].delete:disabled
{
    background-color: #dadada;
    cursor: default;
}

select
{
    font-family: Tahoma;
    border: solid 1px #dcdcdc;
    padding: 3px;
    font-size: 8pt;
    white-space: nowrap;
}

textarea
{
    padding: 5px;
    border: solid 1px #dcdcdc;
    font-family: Tahoma;
    font-size: 9pt;
    line-height: 20px;
}

textarea:disabled
{
    background-color: #f2f2f2;
    color: #d4d4d4;
}

input[type="text"], input[type="password"]
{
    padding: 5px;
    border: solid 1px #dcdcdc;
    font-size: 8pt;
    font-family: Tahoma;
}

*:focus
{
    outline: 0;
}

fieldset
{
    padding: 15px 20px 15px 20px;
    border: solid 1px #7db6d5;
    font-size: 9pt;
}

fieldset legend
{
    font-family: 'Naskh';
    color: #ffffff;
    font-weight: bold;
    font-size: 12pt;
    background-color: #7db6d5;
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

h2
{
    font-size: 14pt;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.loading_medium
{
    width: 28px;
    height: 24px;
    background-image: url(loading_medium.gif);
    display: inline-block;
}

.loading_medium_circle
{
    width: 32px;
    height: 32px;
    background-image: url(loading_medium_circle.gif);
    display: inline-block;
}

.loading_large_circle
{
    width: 48px;
    height: 48px;
    background-image: url(loading_large_circle.gif);
    display: block;
}

.loading_small
{
    width: 19px;
    height: 16px;
    background-image: url(loading_small.gif);
    display: inline-block;
}

.loading_small_parent
{
    width: 19px;
}

.loading_small_circle
{
    width: 16px;
    height: 16px;
    background-image: url(loading_small_circle.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.loading_small_circle_parent
{
    width: 16px;
}

.hide
{
    display: none;
}

.unvis
{
    visibility: hidden;
}

.errors
{
    color: #e87c1f;
    font-size: 8pt;
    line-height: 18px;
}

.hint
{
    max-width: 200px;
    background-image: url(noise1.png);
    background-repeat: repeat;
    position: absolute;
    border: solid 1px #030000;
    color: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    padding: 7px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    line-height: 18px;
    font-size: 7pt;
    z-index: 999;
}

.tdlbl
{
    text-align: left;
}

.frame_parent
{
    padding: 50px;
}

.frame
{
    border: solid 1px #7db6d5;
    padding: 25px;
}

.frame_title
{
    padding: 7px;
    border-bottom: solid 1px #7db6d5;
    margin-bottom: 15px;
}

.frame_title h2
{
    font-family: 'Naskh';
    color: #f7941d;
    font-weight: bold;
    display: inline;
}

.frame_content
{
    padding: 20px 30px 20px 30px;
    line-height: 22px;
}

.text
{
    padding: 10px 0 10px 0;
    color: #1570a6;
}

.error_message
{
    color: #ffffff;
    padding: 15px;
    border: solid 1px #f7941d;
    background-color: #f7941d;
    line-height: 20px;
}

.error_message a
{
    color: #0076d7;
    text-decoration: none;
}

.error_message a:hover
{
    text-decoration: underline;
}

.success_message
{
    color: #ffffff;
    padding: 15px;
    border: solid 1px #00e16d;
    background-color: #00e16d;
    line-height: 20px;
}

.success_message a
{
    color: #115e8b;
    text-decoration: none;
}

.success_message a:hover
{
    text-decoration: underline;
}

.viewpart_title
{
    font-family: 'Naskh';
    color: #f7941d;
    font-weight: bold;
    border-bottom: solid 1px #dcddde;
}

.viewpart_title h2
{
    font-size: 12pt;
}

.viewpart_content
{
    padding: 15px 20px 15px 20px;
}

.form_submit_sec
{
    padding: 10px 0 10px 0;
    border-top: solid 1px #dcddde;
}

.border
{
    background-color: #f8f8f8;
    padding: 10px;
    border: solid 1px #d0d0d0;
    font-size: 9pt;
    color: #787373;
}

.sub_border
{
    background-color: #ffffff;
    padding: 5px;
    border: dashed 1px #e6e7e8;
}

a.ic_link
{
    height: 16px;
    padding: 0 20px 0 0;
    color: #7db6d5;
    background-position: center right;
    background-repeat: no-repeat;
    display: inline-block;
}

a.return
{
    background-image: url(return.png);
}

div.done
{
    width: 16px;
    height: 16px;
    background-image: url(done.png);
    display: inline-block;
}

div.fail
{
    width: 45px;
    height: 16px;
    background-image: url(fail.png);
    display: inline-block;
}

/* ****************** thumbs css ***************** */
.thumb
{
    padding: 1px;
    background-color: White;
    border: solid 1px #aaaaaa;
}

img.userthumb
{
    border: 0;
    padding: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

a.thumb_parent
{
    border: 0;
}

div.user_id
{
    position: relative;
}

div.user_id a.thumb_parent
{
    float: right;
}

div.user_id img.userthumb
{
    float: right;
}

a.fullname
{
    font-size: 8.5pt;
    font-weight: bold;
    color: #115e8b;
}

a.admin_fullname
{
    font-size: 8.5pt;
    font-weight: bold;
    color: #115e8b;
}

a.fullname_deleted_account
{
    font-size: 8.5pt;
    font-weight: bold;
    color: #4a4747;
    text-decoration: none;
    cursor: default;
}

a.fullname_deleted_account:hover
{
    text-decoration: none;
}

div.user_id a.fullname
{
    float: right;
}

div.user_id a.admin_fullname
{
    float: right;
}

div.user_id a.fullname_deleted_account
{
    float: right;
}

div.quote
{
    font-size: 9.5pt;
    line-height: 20px;
    color: #808285;
    background-image: url(quote.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding: 0 20px 0 0;
    font-style: italic;
}

a.add
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(add.png);
}

.center
{
    margin: 0 auto 0 auto;
}

a.pg_tool
{
    border: solid 1px #a6a6a6;
    background-color: #f7f8f9;
    padding: 1px 10px 1px 10px;
    color: #333333;
    font-size: 7.5pt;
    font-weight: bold;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Naskh';
}

a.pg_tool:hover
{
    text-decoration: none;
    background-color: #eceded;
}

div.msgbox
{
    background-color: #f8f8f8;
    padding: 15px;
    border: solid 1px #dcdcdc;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.msgbox_icon
{
    width: 64px;
    height: 64px;
    float: right;
}

div.msgbox_text
{
    float: right;
    margin: 22px 15px 0 0;
    color: #787878;
    font-size: 9pt;
    white-space: normal;
    max-width: 350px;
    line-height: 20px;
}

div.msgbox_info_icon
{
    background-image: url(msgbox_info_icon.png);
}

div.access_denied_icon
{
    background-image: url(access_denied_icon.png);
}

div.access_denied_text
{
    margin-top: 10px;
}

a.okey
{
    background-color: #405d9b;
    color: White;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 7.5pt;
    border: solid 1px #435a8b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

a.okey:active
{
    background-color: #263a66;
}

a.okey:hover
{
    text-decoration: none;
}

a.cancel
{
    background-color: #f8f8f9;
    color: #545c6b;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 7.5pt;
    border: solid 1px #cdced0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

a.cancel:hover
{
    text-decoration: none;
}

a.cancel:active
{
    background-color: #dadade;
}

.admin_role
{
    width: 30px;
    height: 16px;
    background-image: url(admin_icon.png);
    position: absolute;
    top: -5px;
    right: 0;
}

.emoticon
{
    width: 14px;
    height: 14px;
    display: inline;
}

.page
{
    font-size: 9pt;
}

.page table
{
    border: solid 1px #e6e7e8;
}

.page table td
{
    border: solid 1px #e6e7e8;
}
