@using SocialNetApp.Views.Models.Modules
@model AccessDeniedModel
<div class="msgbox">
    <div class="msgbox_icon access_denied_icon">
    </div>
    <div class="msgbox_text access_denied_text">
        @Html.Raw(Resources.Messages.AccessDeniedForObjects)
    </div>
    <div class="clear">
    </div>
</div>
