@model SocialNetApp.Views.Models.Modules.EmptyListModel
<div class="msgbox">
    <div class="msgbox_icon msgbox_info_icon">
    </div>
    <div class="msgbox_text">
        @Resources.Messages.EmptyList
    </div>
    <div class="clear">
    </div>
</div>