@model SocialNetApp.Views.Models.Modules.SimpleUploaderModel
<script type="text/javascript" src="@Url.Content("~/Scripts/_SimpleUploaderHeadTags.min.js")"></script>
<div id="file_upload">
    <div class="uploader">
        <input type="file" name="File" />
    </div>
    <div class="uploader_filename">
        <input type="text" name="FileName" />
    </div>
    <div class="clear">
    </div>
</div>
