.register_on_homepage
{
    margin: 20px 0 20px 0;
    float: right;
    width: 320px;
}

#register select
{
    padding: 5px;
    font-size: 9pt;
}

#register #register_Name, #register #register_LastName
{
    width: 120px;
}

#register input[name="Email"], #register input[name="EmailConfirm"]
{
    direction: ltr;
}

#register input[type="text"], #register input[type="password"]
{
    
    width: 262px;
}

#register .tdpadd
{
    padding-right: 10px;
}

#register td
{
    padding: 5px 0 0 0;
}

#register input[type="radio"]
{
    float: right;
}

#register .label_for_radio
{
    float: right;
    margin: 3px 0 0 10px;
}

#register input[type="submit"]
{
    width: 200px;
    margin-top: 7px;
    float: right;
    padding: 10px;
}

#register select[name="Day"]
{
    width: 60px;
}

#register select[name="Month"]
{
    width: 110px;
}

#register select[name="Year"]
{
    width: 80px;
}

#register .loading_medium
{
    float: right;
    margin: 10px 15px 0 0;
}