div#pp_sec_info .pp_sec_info_item
{
    color: #929292;
    font-size: 9pt;
    background-color: White;
    padding: 10px;
    border-bottom: solid 1px #e9eaed;
    line-height: 20px;
}

div#pp_sec_info .pp_sec_info_item:hover
{
    background-color: #f8f8f8;
}

div#pp_sec_info div.pp_sec_info_in .pp_sec_info_item:last-child
{
    border-bottom: 0;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}