div#mem_considerations_dialog div.dialog_actions div.loading_small_circle
{
    float: left;
    margin: 5px 0 0 0;
}

div#mem_considerations_dialog div#dialog_msg
{
    margin: 10px 0 0 0;
    padding: 5px;
    min-width: 250px;
}

div#mem_considerations_dialog #txt_mem_cons
{
    width: 95%;
    height: 150px;
}