div.msg_sender .msg_text_parent
{
    border: solid 1px red;
    background-color: White;
    position: relative;
}

div.msg_sender .msg_text
{
    border: 0;
    padding: 0;
    resize: none;
    width: 96%;
    padding: 5px 2%;
    font-size: 8.5pt;
    line-height: 18px;
    overflow-y: auto;
}

div.msg_sender div.msg_sender_tools
{
    border-top: 0;
    border-right: solid 1px #d2d9e7;
    border-bottom: solid 1px #d2d9e7;
    border-left: solid 1px #d2d9e7;
    background-color: #f2f2f2;
    height: 30px;
    padding: 0 3px;
}

div.msg_sender div.snd_result
{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 5px;
}

div.msg_sender div.msg_sender_tools .fields
{
    float: right;
    margin: 5px;
}

div.msg_sender div.msg_sender_tools .fields input[type="checkbox"]
{
    float: right;
}

div.msg_sender div.msg_sender_tools .fields label
{
    float: right;
    margin: 5px 0 0 0;
    font-size: 7pt;
    color: Gray;
}

div.msg_sender div.msg_sender_tools input[type="submit"]
{
    float: left;
    height: 24px;
    margin: 3px 0 3px 0;
}

div.msg_sender div.msg_sender_tools div.loading_small_circle
{
    float: left;
    margin: 7px 0 0 3px;
}