@model SocialNetApp.Views.Models.Home.InternalServerErrorViewModel
@{
    ViewBag.Title = "InternalServerError";
    Layout = "~/Views/Layouts/_Frame.cshtml";
}

@section head
{
    
}

@section title
{
    InternalServerError
}

@section content
{
    <h2>InternalServerError</h2>
}