@model SocialNetApp.Views.Models.Home.PageNotFoundErrorViewModel
@{
    ViewBag.Title = "PageNotFoundError";
    Layout = "~/Views/Layouts/_Frame.cshtml";
}

@section head
{
    
}

@section title
{
    page not found
}

@section content
{
    <h2>PageNotFoundError</h2>
}