@{
    Layout = "~/Views/Layouts/_Site.cshtml";
}
@section head{
    @RenderSection("head")
}
@section content{
    <div class="frame_parent">
        <div class="frame">
            <div class="frame_title">
                <h2>@RenderSection("title")</h2>
            </div>
            <div class="frame_content">
                @RenderSection("content")
            </div>
        </div>
    </div>
}
